$CTGBlue: #007db0;
$CTGBlue-faded: rgba(0, 125, 176, .6);
$DSDark: #2d2926;
$DSDark-faded: rgba(45, 41, 38, .6);
$DSDarkish: #393633;
$DSLight: #999;
$Abel: 'Abel', sans-serif;
$Dosis: 'Dosis', sans-serif;

@mixin bottom-notch($bgcolor, $widthPercent, $bottomSize:15px, $offset:0, $notchColor:"transparent") {
   $offset: unquote($offset);
   $notchColor: unquote($notchColor);
   $halfOffset: ($offset / 2);
   $sideWidth: ((100 - $widthPercent) / 2);
   position: relative;
   &:after {
     width: ($sideWidth + $halfOffset) * 1%;
     left: 0;
     bottom: -$bottomSize;
     height: 0;
     border-top: $bottomSize solid $bgcolor;
     border-right: 10px solid $notchColor;
     position: absolute;
     content: " ";
   }

   &:before {
     width: ($sideWidth - $halfOffset) * 1%;
     right: 0;
     bottom: -$bottomSize;
     height: 0;
     border-top: $bottomSize solid $bgcolor;
     border-left: 10px solid $notchColor;
     position: absolute;
     content: " ";
   }
}

@keyframes navmargin {
   0% {
      margin-left: -184px;
   }
   100% {
      margin-left: -144px;
   }
}
@-webkit-keyframes navmargin {
   0% {
      margin-left: -184px;
   }
   100% {
      margin-left: -144px;
   }
}
@-moz-keyframes navmargin {
   0% {
      margin-left: -184px;
   }
   100% {
      margin-left: -144px;
   }
}

html {
   font-family: $Abel;
   font-size: 16px;
   width: 100%;
   overflow-x: hidden;
}

a {
   text-decoration: none;
   color: $CTGBlue;
}

article {
   color: $DSLight;
   background-image: url("/content/images/metal.png");
   background-size:40px;
   background-color: $DSDark;
   background-repeat-y: no-repeat;
   //border: 2px solid $CTGBlue-faded;
   border-radius: 3px;
   margin-bottom: 30px;
   padding-bottom: 15px;
   clear: both;
   position: relative;

   &.notched {
      @include bottom-notch($DSDark, 30, 15px, 0);
      margin-bottom: 45px;
      padding-bottom: 0px;
      .date-panel {
         height: calc(100% + 15px);
      }
   }

   // Large devices (desktops, 992px and up)
   @media (min-width: 992px) {
      &.notched {
         @include bottom-notch($DSDark, 10, 15px, 40);
         margin-bottom: 45px;
         padding-bottom: 0px;
      }
   }



   header, footer, .main-text {
      padding-left: 15px;
      padding-right: 15px;
   }

   header {
      padding-top: 15px;
   }

   header>h3 {
      color: white;
   }
   footer {
      padding-top: 5px;
      text-transform: uppercase;
      font-family: $Dosis;
      letter-spacing: .8px;
   }

   &.has-affix-right {
      padding-right: 110px;
         min-height: 367px;
   }

   .affix-right {
      width: 110px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
   }

   .header-image {
      width: 100%;
      max-height: 300px;
      border-radius: 3px 3px 0 0;
      overflow-y: hidden;
      float: left;
      margin-bottom: 15px;
      border-bottom: 2.5px solid $CTGBlue;
      >img {
         width: 100%;
      }
   }
}

.date-panel {
   background-color: $DSDarkish;
   height: 100%;
   width: 100%;
   text-align: center;
   border-radius: 0 3px 3px 0;

   .date {
      text-transform: uppercase;
      font-family: $Dosis;
      padding-bottom: 20px;
      position: relative;
      border-bottom: 3px solid $CTGBlue-faded;
      >div:nth-of-type(1) {
         font-size: 32px;
         line-height: 0.5;
         color: white;
         padding-top: 20px;
         font-weight: bold;
      }
      >div:nth-of-type(2) {
         font-size: 24px;
         font-weight: bold;
         line-height: 0.5;
         padding-top:12px;
      }
      >div:nth-of-type(3) {
         font-size: 19px;
         font-weight: bold;
      }
      >div:nth-of-type(4) {
         font-size: 16px;
         font-weight: bold;
         color: white;
      }
   }

   .date.end {
      &:before {
         position: absolute;
         content: "TO";
         font-family: $Dosis;
         font-weight: bold;
         left: 0;
         right: 0;
         margin: 0 auto;
         top: -12px;
         background-color: $DSDarkish;
         width: 44px;
      }
   }
   .location {
      text-transform: uppercase;
      font-family: $Dosis;
      font-size: 24px;
      color: white;
      padding: 15px 0;
      font-weight: bold;
      display: block;
      &:hover {
         color: $DSLight;
      }
   }
   .info {
      text-transform: uppercase;
      font-family: $Dosis;
      font-size: 24px;
      color: $DSDarkish;
      padding: 15px 0;
      font-weight: bold;
      display: block;
      background-color: $CTGBlue;
   }

}

body {
   background-color: black;
   background-image: url("/content/images/background.jpg");
   background-position-x: 0%, 100%;
   background-position-y: 0%, 0%;
   background-size: 100%;
   background-attachment: fixed, fixed;
   color: rgb(153, 153, 153);
   margin:0;
   min-height:100%;
}

footer {
   background-color: $DSDark;
   padding: 10px 50px;
   text-align: center;
   font-size: .9em;
   opacity: 0;
   transition: opacity 1s ease;
   &.opacity-1 {
      opacity: 1;
   }
   .copyright {
      font-weight: bold;
      font-size: .9em;
      margin-top: 5px;
   }
   .copyright-2, .acknowledgments {
      font-size: .7em;
   }

   ul {
      list-style-type: none;
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      li {
          float: left;
          width: 25%;
          text-transform: uppercase;
          font-family: $Dosis;
      }
      &:after {
         content: " "; /* Older browser do not support empty content */
         visibility: hidden;
         display: block;
         height: 0;
         clear: both;
      }
   }
}

h1, h2, h3, h4, h5 {
   font-family: 'Dosis', sans-serif;
   text-transform: uppercase; //all headings should be shouting
   margin-bottom: 5px;
   margin-top: 5px;
   letter-spacing: .8px;
}

h1, h2 {
   //some cool magic lines to make headings stand out more
   border-top: 2px solid $CTGBlue;
   border-bottom: 2px solid $CTGBlue;
   color: rgb(185, 185, 185);
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 20px;
   margin-bottom: 20px;
}

img.offset-5 {
   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
      margin-top: -2%;
   }

   // Large devices (desktops, 992px and up)
   @media (min-width: 992px) {
      margin-top: -5%;
   }
}
img.offset-10 {
   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
      margin-top: -5%;
   }

   // Large devices (desktops, 992px and up)
   @media (min-width: 992px) {
      margin-top: -10%;
   }
}
img.offset-25 {
   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
      margin-top: -15%;
   }

   // Large devices (desktops, 992px and up)
   @media (min-width: 992px) {
      margin-top: -25%;
   }
}
img.offset-50 {
   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
      margin-top: -25%;
   }

   // Large devices (desktops, 992px and up)
   @media (min-width: 992px) {
      margin-top: -50%;
   }
}

header.site-nav {
   background-color: $DSDark;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 5;

   .site-nav-top {
      text-align: center;
      height: 50px;
      position: relative;
      transition: height 200ms ease;

      &:after {
         content: " "; /* Older browser do not support empty content */
         visibility: hidden;
         display: block;
         height: 0;
         clear: both;
      }

      >.menu-toggle {
         display: none;
      }

      >.text-header {
         transition: font-size 200ms ease;
         font-size: 3em;
         color: white;
         padding-left: 180px;
         text-transform: uppercase;
         font-family: $Dosis;
         font-weight: bold;
         line-height: 50px;
         .super {
            font-size: .7em;
         }
      }

      .logo {
         //transition: height 200ms ease, width 200ms ease;
         background-image: url(/content/images/ctg_icons.png);
         background-repeat: no-repeat;
         background-position: center;
         padding: 2px 15px;
         position: absolute;
         top: 0;
         left: 0;
         width: 114px;
         height: 112px;
         background-size: contain;
         margin-top: 5px;
      }

      .social-media {
         float: right;
         width: 180px;
         transition: padding-top 200ms ease;
         text-align: center;
         padding-top: 2px;
         >a {
            i {
               vertical-align: middle;
            }
            margin: 0 8px;
            color: $DSLight;
            .fa-inverse {
               color: $DSDark;
            }
         }
      }
   }

   .site-nav-buttons {
      height: 75px;
      border-top: 1px solid $DSDarkish;
      border-bottom: 3px solid $CTGBlue;
      text-align: center;
      .button-wrapper {
         height: 100%;
         width: calc(182px * 5);
         display: inline-block;
         //transition: margin-left 200ms ease;
         .button {
            display: block;
            float: left;
            width: 180px;
            height: 100%;
            border-left: 1px solid $DSDarkish;
            border-right: 1px solid $DSDarkish;
            position: relative;
            color: $DSLight;
            font-weight: bold;
            letter-spacing: 0.8px;
            transition: background-color 200ms ease;

            >.icon {
               font-size: 30px;
               line-height: 30px;
               padding-top: 12px;
            }


            &:hover {
               background-color: $DSDarkish;
            }
            .notch {
               display: none;
            }
            &.active .notch {
               display: block;
               position: absolute;
               top: auto;
               left: 50%;
               border-bottom: 4px solid transparent;
               width: 30px;
               border-left: 4px solid transparent;
               border-right: 4px solid transparent;
               border-bottom-color: $CTGBlue;
               box-sizing: content-box !important;
               margin-left: -18px;
               bottom: 0;
            }
         }
      }
   }
}

//gallery stuff
a.gallery-thumbnail {
   width: 160px;
   display: inline-block;
   height: 160px;
   padding: 10px;
   >img {
      border-radius: 10px;
      border: 2px solid $CTGBlue-faded;
   }
}
#links {
   text-align: center;
}

//events stuffs
a#requestEvent {
   background-color: $CTGBlue;
   border: 2px solid rgb(1, 57, 80);
   border-radius: 5px;
   display: block;
   color: white;
   font-size: 1.5em;
   text-transform: uppercase;
   font-weight: bold;
   font-family: 'Dosis', sans-serif;
   text-align: center;
   margin-bottom: 15px;
   padding: 10px;
   transition: background-color 150ms ease;
   &:hover {
       background-color: #013950;
   }
}

//about stuff
img.command-picture {
   float: left;
   border-radius: 10px;
   width: 250px;
   margin-right: 15px;
   &.right {
      float: right;
      margin-left: 15px;
      margin-right: 0;
   }
}

#history, #command-team, #about-us {
   >h3 {
      color: white;
   }
   margin-bottom: 30px;
}

.spotlight {
   margin-top: 40px;
   &:after {
     content: "";
     display: table;
     clear: both;
   }
}

//homepage
.size-66, .size-33, .size-50 {
   float: left;
   width:100%;
   margin-bottom: 25px;
   >h2 {
      text-align: center;
      box-sizing: border-box;
   }
}
@media (min-width: 800px) {
   .size-md-50 {
      width: 50%;
   }
}

@media (min-width: 1200px) {
   .size-66, .size-33, .size-50 {
      box-sizing: border-box;
      padding-left: 15px;
      padding-right: 15px;
   }
   .size-66 {
      width: 66%;
   }
   .size-50 {
      width: 50%;
   }
   .size-33 {
      width: 33%;
   }
}

//carousel
.slide-content {
   border-radius: 5px;
}

.bar {
   font-size: 1.2em;
   text-align: center;
   padding: 3px;
   a {
      transition: color 200ms ease;
   }
   a:hover {
      color: white;
   }
}

.new-member-container {
   display: flex;
   flex-direction: column;
   height: 521px;
   align-items: center;
   >h2 {
      width: 100%;
   }
   >.new-member {
      flex-grow: 2;
       border-radius: 5px;
       position: relative;
       max-width: 395px;
       width: 100%;
       text-align: center;
       border: 5px solid $DSDark;
       background-size: 400px 500px;
       background-repeat: no-repeat;
       background-position: center top;
       >.bumper {
          position: absolute;
         bottom: 0px;
         width: 100%;
         color: white;
         height: 15%;
         background-color: $DSDark-faded;
         >.name {
            font-size: 1.5em;
            font-weight: bold;
            font-family: $Dosis;
         }
         >.id {
            font-size: 1.3em;
            font-family: $Dosis;
         }
       }
   }
}
.featured-images {
   .blueimp-gallery {
      background-color: $DSDark;
      border-radius: 5px;
   }
   .blueimp-gallery-carousel {
      margin-top: 0;
      margin-bottom: 0;
      @media (max-width: 768px) {
         h3.title {
             font-size: .8em;
         }
      }
   }
}

.icon501 {
   text-align: center;
   padding: 25px 0;
   img {
      height: 300px;
   }
}

@media (min-width: 1222px) {
   header.site-nav.collapsed {
      .site-nav-top {
         height: 0px;
         .logo {
            width: 114px;
            height: 62px;
            background-size: contain;
            margin-top: 5px;
         }
         .text-header {
            font-size: 0;
            transition: none;
         }
         .social-media {
            position: absolute;
            right: 0;
            top: 12px;
         }
      }
   }
}

//mobile navigation stuffs
// Medium devices (tablets, 768px and up)
@media (max-width: 1221px) {
   body {
      width: 100%;
      overflow-x: hidden;
   }
   header.site-nav > .site-nav-top {
      .logo, .social-media {
         display: none;
      }
      .text-header {
         line-height: 50px;
         font-size: 1.5em;
         padding-left: 0;
      }
      .menu-toggle {
         height: 100%;
         width: 60px;
         position: absolute;
         display: block !important;
         >button {
            background-color: $CTGBlue;
            color: white;
            border: none;
            height: 100%;
            width: 100%;
            font-size: 1.5em;
            padding: 12.5px;
            padding-top: 9px;
            span, span:before, span:after {
              cursor: pointer;
              border-radius: 1px;
              height: 5px;
              width: 35px;
              background: white;
              position: absolute;
              opacity: 1;
              display: block;
              content: '';
              transition: background 200ms ease-in;
            }
            span:before {
              top: -10px;
              transition: transform 200ms ease-in;
            }
            span:after {
              bottom: -10px;
              transition: transform 200ms ease-in;
            }
         }
      }
      height: 50px;
   }
   header.site-nav .site-nav-buttons {
      position: fixed;
      width: 50%;
      height: calc(100% - 50px);
      background-color: #393633;
      transform: translateX(-100%);
      transition: transform 200ms ease;
      .button-wrapper {
         width: 100%;
         display: block;
         a.button {
            width: 100%;
            height: initial;
            padding: 10px;
            display: table;
            box-sizing: border-box;
            vertical-align: middle;
            border-bottom: 1px solid #999;
            &.active {
               background-color: $CTGBlue;
            }
            .icon {
               display: table-cell;
               width: 50%;
               text-align: right;
               padding-right: 10px;
            }
            span {
               display: table-cell;
               vertical-align: middle;
               text-align: left;
            }
            .notch {
               display: none !important;
            }
         }
      }
   }
   .body-wrapper {
      transition: transform 200ms ease;
      margin-top: 75px !important;
   }
   body.navbar-open {
      .body-wrapper {
         transform: translateX(50%);
      }
      .site-nav-buttons {
         transform: translateX(0);
      }
      header.site-nav > .site-nav-top .menu-toggle button {
         span {
            background: transparent;
         }
         span:before {
            transform: rotate(45deg);
            top: 0;
         }
         span:after {
            transform: rotate(-45deg);
            bottom: 0;
         }
      }
   }
}

.body-wrapper {
   padding: 0 12px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: 150px;
   overflow-x: hidden;

   &.padded {
      margin-top: 250px;
   }

   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
      width: 85%
   }

   // Large devices (desktops, 992px and up)
   @media (min-width: 992px) {
      width: 76%;
   }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
